* {
  box-sizing: inherit;
}

html {
  margin: 0;
  padding: 0;
  font-family: "DINRoundOT", sans-serif;
  color: #285929;
  font-size: 0.975rem;
  font-weight: 400;
  line-height: normal;
  box-sizing: border-box;
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.5) 0%,
      rgba(148, 205, 202, 0.425) 44.27%,
      rgba(232, 250, 236, 0.5) 100%
    ),
    linear-gradient(0deg, #ffffff, #ffffff);
}

.banner_mobile {
  display: none;
}

/* slide BANER */

.banner_mb-slide {
  position: relative;
  margin: auto;
}

.slide-item {
  width: 100%;
  display: none;
}

.control-dots {
  text-align: center;
}

.control-dots .dot {
  border: 1px solid #285929;
  background: none;
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin: 0 5px;
  transition: background 0.6s ease;
}
.active {
  background: #285929 !important;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* form-login-reward */

.form__login-reward {
  width: 30%;
  padding: 0 12px 0 12px;
}

.form__login-action {
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0px 12px 30px rgb(0 0 0 / 20%);
  border-radius: 40px;
  padding: 25px 38px 25px 38px;
  box-sizing: border-box;
}

.form__login-action-title {
  text-align: center;
  color: #285929;
  font-weight: 700;
  margin-bottom: 30px;
  font-size: 1.2rem;
}

.form__login-action-title-hidden {
  display: none;
}

.form__login-action-input {
  display: block;
  width: 100%;
  line-height: 45px;
  font-size: 1rem;
  padding: 0 20px;
  margin-bottom: 25px;
  border: 1px solid rgba(32, 96, 35, 0.25);
  box-sizing: border-box;
  border-radius: 15px;
  text-align: center;
  align-items: center;
  background-color: #fff;
}

.form__login-reward-confirm {
  padding: 15px 0;
}

.form__login-reward-confirm label {
  display: inline-block;
  color: #285929;
}

.custom__checkbox {
  line-height: normal;
  position: relative;
  padding-left: 32px;
  margin-bottom: 12px;
  cursor: pointer;
  min-width: 22px;
  min-height: 22px;
  box-sizing: border-box;
}

.custom__checkbox-text {
  font-size: 0.875em;
  font-weight: 300;
}

.custom__checkbox-text br {
  display: none;
}

.custom__checkbox-link {
  text-decoration: underline;
  color: #285929;
}

.custom__checkbox-checkmark {
  position: absolute;
  top: 3px;
  left: 0;
  height: 22px;
  width: 22px;
  background: #ffffff;
  border-radius: 2px;
  border: 2px solid #285929;
  /* display: none; */
}

.form__login-action-submit {
  cursor: pointer;
  margin-top: 15px;
  color: #ffffff;
  box-shadow: 0px 12px 30px rgb(0 0 0 / 10%);
  font-weight: 500;
  line-height: 50px;
  margin-top: 20px;
  border-radius: 18px;
  width: 100%;
  background: #db320d;
  border-color: #db320d;
  border: 1px solid #ccc;
  font-size: 1rem;
}
